html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.nav__container{
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 1rem 0;
  font-weight: bold;
  border-top: solid 1px gray;
  border-bottom: solid 2px gray;
}

.nav__container *{
  color: white;
  text-decoration: none;
  display: flex;
  padding: 0 0.3rem;

}

.active *{
  color:  gray;
}

.home__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  width: 18rem;
  border: solid 1px gray;
  margin: 1rem 0;
}

.card img{
  width: 100%;
}

.card ul{
 display: flex;
 flex-direction: column;
 padding-left: 1.2rem;
}

.card__price{
  text-align: center;
}

.card__btn{
  display: flex;
  justify-content: space-evenly;
}

.card__detalles{
  display: flex;
  border: solid 2px gray;
}

.card__detalles img{     
  width: 100%; 
}

.card__detalles__btn{
  display: flex;
  justify-content: space-between;
}

.card__shoppingCard{
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.card__shoppingCard__Left{
  display: flex;
}

.card__shoppingCard img{
  width: 10rem;
}

.card__shoppingCard__Right{
  display: flex;
  align-items: center;
}