html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.nav__container{
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 1rem 0;
  font-weight: bold;
  border-top: solid 1px gray;
  border-bottom: solid 2px gray;
}

.nav__container *{
  color: white;
  text-decoration: none;
  display: flex;
  padding: 0 0.3rem;

}

.active *{
  color:  gray;
}

.home__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card__home{
  width: 18rem;
  border: solid 1px gray;
  margin: 1rem 0;
}

.card__home img{
  width: 100%;
}

.card__home ul{
 display: flex;
 flex-direction: column;
 padding-left: 1.2rem;
}

.card__home__price{
  text-align: center;
}

.card__home__btn{
  display: flex;
  justify-content: space-evenly;
}

.card__detalles{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px gray;
  margin: auto;
  width: 30rem;
  text-align: center;
}

.card__detalles img{     
  width: 100%; 
}

.card__detalles__text{
  padding-left: 1rem; 
}

.card__detalles__ingredients{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.card__detalles__btn{
  display: flex;
  justify-content: space-between;
}

.card__shoppingCard{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 1rem;
  font-weight: bold;
}

.card__shoppingCard__Left{
  display: flex;
  align-items: center;
}

.card__shoppingCard__Left *, .card__shoppingCard__Right *{
  margin: 1rem;
}

.card__shoppingCard img{
  width: 10rem;
}

.card__shoppingCard__Right{
  display: flex;
  align-items: center;
}

.shoppingCar__total{
  display: flex;
  justify-content: end;
  padding: 0 1rem;
}